* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111;
  color: #fff;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  text-align: center;
}

.home span {
  color: #007bff;
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 60px 40px;
  text-align: center;
}

.skills span {
  display: inline-block;
  background: #ddd;
  margin: 8px;
  padding: 10px 15px;
  border-radius: 5px;
}

.project {
  background: #f9f9f9;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
